services:
  postgres:
    image: postgres:latest
    container_name: postgres_db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: gestor_opiniones
    ports:
      - "5435:5432"
    volumes:
      - postgres_data:/var/lib/postgresql

volumes:
  postgres_data: